<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("headers") %>
</head>

<body>

    <%- include("CabeceraNoIdentificado") %>

    <main id="cuerpo">
        <div class="tituloSeccion">
            <h1>Nuevo usuario</h1>
        </div>
        <div class="contenido">
            <form id="formulario" action="/usuarios/InsertarUsuario" method="POST" enctype="multipart/form-data">
                <div>
                    <label>Email:</label>
                    <input type="text" name="email" pattern="\w+@\w+\.(es|com)" title="El correo debe ser válido." maxlength="50" required>
                </div>
                <div>
                    <label>Contraseña:</label>
                    <input type="password" name="clave" title="Mínimo 8 caracteres." minlength="8" maxlength="50" required>
                </div>
                <div>
                    <label>Nombre completo:</label>
                    <input type="text" name="nombre" maxlength="50" required>
                </div>
                <div>
                    <label>Sexo:</label>
                    <div class="radios">
                        <span><input type="radio" name="sexo" value="M"> Masculino</span>
                        <span><input type="radio" name="sexo" value="F"> Femenino</span>
                        <span><input type="radio" name="sexo" value="O" checked> Otro</span>
                    </div>
                </div>
                <div>
                    <label>Fecha de nacimiento:</label>
                    <input type="date" name="fechaNacimiento" required>
                </div>
                <div>
                    <label>Imagen de perfil:</label>
                    <input type="file" name="imagen" accept="image/*">
                    <%- include("flash") %>
                </div>
                <input type="submit" value="Crear usuario" class="centrarBoton boton">
            </form>
        </div>
    </main>

</body>
</html>