<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("headers") %>
</head>

<body>

    <%- include("CabeceraNoIdentificado") %>
    
    <main id="cuerpo">
        <div class="tituloSeccion">
            <h1>Entrar</h1>
        </div>
        <div class="contenido">
            <form id="formulario" action="/usuarios/ValidarUsuario" method="POST">
                <div>
                    <label>Email:</label>
                    <input type="text" name="email" pattern="\w+@\w+\.(es|com)" title="El correo debe ser válido." maxlength="50" required>
                </div>
                <div>
                    <label>Contraseña:</label>
                    <input type="password" name="password" minlength="8" maxlength="50" title="Mínimo 8 caracteres." required>
                </div>
                <input type="submit" class="centrarBoton boton" value="Conectar">
            </form>

            <%- include("flash") %>
        
        </div>
    </main>

</body>
</html>