<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/css/Estilo.css">
</head>
<body>
    <main>
        <h1>Pagina de compra de productos</h1>
        <form action="/shop/buyProduct" method="POST">
            <div>
                <label>Producto: </label>
                <input type="text" name="productName">
            </div>
            <input type="submit" value="Enviar">
        </form>
    </main>
</body>
</html>