<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/css/Estilo.css">
</head>
<body>
    <main>
        <h1>Pagina de inicio de sesion</h1>
        <form action="/basics/validateUser" method="POST">
            <div>
                <label>Nombre: </label>
                <input type="text" name="userName">
            </div>
            <div>
                <label>Contraseña: </label>
                <input type="text" name="userPassword">
            </div>
            <input type="submit" value="Enviar">
        </form>
    </main>
</body>
</html>