<header id="cabecera">
    <div id="titulo">
        <h1>FACEBLUFF</h1>
    </div>
    <div id="botonera">
        <a href="/usuarios/PaginaDePerfilDeUsuario">Perfil</a>
        <a href="/amigos/PaginaDeAmigosSolicitudesDeAmistad">Amigos</a>
        <a href="/cuestiones/ListadoAleatorioDePreguntas">Preguntas</a>
        <a href="/usuarios/CerrarSesion">Desconectar</a>
        <div id="puntuacion">
            <img src="/usuarios/CargarImagenDePerfil/<%=usuario.Id%>">
            <span><%=usuario.puntos%></span>
        </div>
    </div>
</header>