<header id="cabecera">
    <div id="titulo">
        <h1>FACEBLUFF</h1>
    </div>
    <div id="botonera">
        <a href="/usuarios/PaginaDeIdentificacionDeUsuario">ENTRAR</a>
        <a href="/usuarios/CreacionDeNuevoUsuario">NUEVO USUARIO</a>
    </div>
</header>