<meta charset="UTF-8">
<title>Facebluff</title>
<link rel="stylesheet" href="/css/Estilo.css">
<link rel="shortcut icon" href="/img/icon.png" type="image/x-icon">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Yeon+Sung">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Chela+One">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dancing+Script">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Londrina+Outline">
