<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("headers") %>
</head>

<body>

    <%- include("CabeceraIdentificado") %>

    <main id="cuerpo">
        <div class="tituloSeccion">
            <h1>Error 404</h1>
        </div>
        <div class="contenido">
            <div class="filaContenido">
                <h2>El siguiente recurso no ha sido encontrado</h2>
            </div>
            <div class="filaContenido">
                <h3><%=recurso%></h3>
            </div>
        </div>
    </main>

</body>

</html>