<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>

    <header>
        <div>
            Sistema: <%=currentHost%>
        </div>
        <div>
            Usuario: <%=JSON.stringify(currentUser);%>
        </div>
        <div>
            Bienvenido programadxr !!!
        </div>
    </header>

    <main>
        <ul>
            <% users.forEach(function(user) { %>
            <li><%= user %></li>
            <% }); %>
        </ul>
    </main>

    <footer>
        <%- include("footer", { year: new Date().getFullYear() }) %>
    </footer>

</body>

</html>