<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Error interno</title>
    <link rel="stylesheet" href="css/Estilo.css">
    <link rel="shortcut icon" href="img/icon.jpg" type="image/x-icon">
</head>

<body>
    <div id="error500">
        <h1>Error 500</h1> 
        <h2>Error interno</h2>
        <h3><%=mensaje%></h3>
        <div id="estiloBoton">
            <a href="/tasks">Volver al menu principal</a>
        </div>
    </div>
</body>

</html>