<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recurso no encontrado</title>
    <link rel="stylesheet" href="css/Estilo.css">
    <link rel="shortcut icon" href="img/icon.jpg" type="image/x-icon">
</head>
<body>

    <div id="error404">
        <h1>Error 404</h1> 
        <h2>El siguiente recurso no ha sido encontrado</h2>
        <h3><%=recurso%></h3>
        <div id="estiloBoton">
            <a href="/tasks">Volver al menu principal</a>
        </div>
    </div>

</body>
</html>