<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <main>
        <form action="/obtainData" method="post" enctype="multipart/form-data">
            <div>
                <label>Nombre: </label>
                <input type="text" name="userName">
            </div>
            <div>
                <label>Contraseña: </label>
                <input type="text" name="userPassword">
            </div>
            <div>
                <label>Imagen: </label>
                <input type="file" name="userImage">
            </div>
            <input type="submit" value="Enviar">
        </form>
    </main>
</body>
</html>